@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, button, fieldset, legend, ul, ol, li, dl, dt, dd, th, td { margin: 0; padding: 0; }
body { font:12px tahoma,arial,\5b8b\4f53; color: #3E3E3E; background: #fff; }
html { -webkit-text-size-adjust: none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
ol, ul { list-style: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }
button, input, select, textarea { font-size:12px; font-family:Helvetica,Hiragino Sans GB,Arial,sans-serif; }
a { color: #444; text-decoration: none; }
a:hover { text-decoration: underline; }
.auto:after { height: 0; display: block; visibility: hidden; content: "."; clear: both;  }
.auto { _zoom: 1; }
/*框架*/
.caption { padding:0 0 20px; }
.caption h1 { font:bold 50px/1.5 Microsoft YaHei; text-align:center; }
.caption p { color:red; text-align:center; }
.wrap { width:600px; margin:0 auto; padding-top:10px; }
.mb20 { margin-bottom:20px; }
.area1, .area2, .area3 { background:#EEE; }
.area1 { height:200px; }
.area2 { height:100px; }
.area3 { height:800px; }
/*导航*/
.nav-h-1 { height:78px; }
.nav-h-2 { height:40px; }
.nav { width:598px; border:solid 1px #EAEAEA; border-top:solid 1px #D2D2D2; border-radius:3px; background:#f3f4f6; }
.nav li { margin:2px 0 2px 5px; float:left; _display:inline; font:16px/32px Microsoft YaHei; border:solid 1px #c1c6ca; border-radius:2px; box-shadow:0 1px #e2e3e5;
    background-color:#f4f4f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType='0');
    background-image: -webkit-linear-gradient(#fff, #f3f3f3);
    background-image: -moz-linear-gradient(#fff, #f3f3f3);
    background-image: -o-linear-gradient(#fff, #f3f3f3);
    background-image: -ms-linear-gradient(#fff, #f3f3f3);
    background-image: linear-gradient(#fff, #f3f3f3); }
.nav li.current {
    background-color:#dbdfe3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadee2', endColorstr='#e4e8ed', GradientType='0');
    background-image: -webkit-linear-gradient(#dadee2, #e4e8ed);
    background-image: -moz-linear-gradient(#dadee2, #e4e8ed);
    background-image: -o-linear-gradient(#dadee2, #e4e8ed);
    background-image: -ms-linear-gradient(#dadee2, #e4e8ed);
    background-image: linear-gradient(#dadee2, #e4e8ed);
}
.nav a { display:inline-block; padding:0 8px; }
#nav1 { height:76px; }
#nav2 { height:38px; }

