body, dl, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, font { padding: 0; margin: 0; }
body { font-size: 12px; background: #fff; color: #333; }
table { border-collapse: collapse; border-spacing: 0; font-size: 12px; }
img { border: 0; vertical-align: top; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ol, ul { list-style: none; }
input, button, textarea, checkbox, select, radio { font-size: 12px; vertical-align: top; }
a { color: #333; text-decoration: none }
a:hover, a:active { text-decoration: underline }
.blank { height: 8px; overflow: hidden; clear: both; }
.auto, ul { overflow: hidden; }
.wrap { max-width: 460px; margin: 0 auto; }
/*顶部*/
.logo { height: 87px; background: url(images/logo-bg.png) repeat-x left top; text-align: center; padding-bottom:1px; }
.nav { border-top:solid 1px #427298; }
.nav li { width:25%; height:28px; float:left; text-align:center; font-size:14px; color:#fff; line-height:28px; background:url(images/nav-li-bg.png) repeat-x left top; }
.nav a { color:#fff; display:block; border-right:solid 1px #2776ae; }
.nav a:hover { background:url(images/nav-a-hover-bg.jpg) repeat-x left top; }
.banner { padding-top:5px; }
.banner img { width:100%; }
.top-swt { padding-bottom:1px; margin-bottom:8px; border-bottom:solid 1px #c8c8c8;}
.top-swt ul { height:36px; background:#e6e6e6 url(images/top-swt-li-bg.png) no-repeat right top; }
.top-swt li { width:30%; height:36px; float:left; line-height:36px; background:#e6e6e6 url(images/top-swt-li-bg.png) no-repeat left top; }
.top-swt a { padding-left:10px; }
.top-swt span { padding-right:3px; }
.top-swt img { vertical-align:middle; }
.top-tel a { font-weight:bold; color:#a10004; font-size:14px; }
/*关于*/
.about { padding-top:10px; }
.tit { height:30px; padding:0 10px; background:url(images/tit-bg.png) repeat-x left top; }
.tit h5 { padding-left:10px; background:url(images/tit-h3-bg.png) no-repeat left center; line-height:30px; font-size:14px; font-weight:bold; }
.about-con p { padding:6px 10px; text-indent:2em; line-height:22px; }
.about-con p a { color:red; }
.about-pic { padding-bottom:5px; text-align:center; }
.nav-table { width:100%;}
.nav-table td { padding:4px 0; text-align:center; background:#f1f1f1;  border:solid 1px #c9c9c9; }
.news { padding:5px 0; }
.news li { height:24px; line-height:24px; border-bottom:solid 1px #d7d7d7; padding-left:15px; background:url(images/block.png) no-repeat 8px center; }
.mb-nav { height:31px; margin-bottom:1px; line-height:31px; background:url(images/mb-nav-bg.png) repeat-x left top; }
.mb-nav li { width:50%; text-align:center; float:left; font-size:14px; }
.mb-nav li.hover { background:url(images/mb-hover-bg.png) repeat-x left top; }
.mb-nav a { color:#fff; }
.mb-list { padding:10px 0; }
.mb-list li { width:50%; text-align:center; float:left; }
/**/
.reg { padding-bottom:10px; }
.reg-form { padding: 0 5px; }
.reg-form table { width: 100%; margin-top: 4px; }
.reg-form td { padding: 4px 0; }
.reg-name { width:75px; text-align: right; }
.reg-txt { width: 76%; border: solid 1px #d2d2d2; padding: 2px 3px; }
.reg-btn { width: 71px; height: 24px; background: url(images/reg-btn.png) no-repeat left top; border: none; cursor: pointer; }
.reg-textarea { width: 76%; height: 60px; border: solid 1px #d2d2d2; padding: 2px 3px; }
/**/
.footer-nav { line-height:23px; color:#fff; padding:2px 0 2px 8px; background:url(images/footer-nav-bg.jpg) repeat-x left top; }
.footer-nav a { color:#fff; }
.footer-con { padding:5px 0 10px; text-align:center; line-height:22px; }
.footer-con b { font-weight:bold; color:#0061ae; }


