@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, form, input, textarea, button, fieldset, legend, ul, ol, li, dl, dt, dd, th, td { margin: 0; padding: 0; }
table{border-spacing:0; }
ol,ul,li{list-style:none}
a img { border: none; }
a { text-decoration:none; color:#416cb2; }
body { font:12px "Microsoft YaHei",Arial; background:url(images/body-bg.png) repeat;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
/*导航*/
.nav-bar { height:35px; padding:4px 0 0; color:#fff; border-top:solid 1px #e7464e; border-bottom:solid 1px #9f181d; box-shadow:inset 0 1px 0 #e7464e; background:#dd2329;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd2329), to(#bb1e24));
	background-image:-webkit-linear-gradient(#dd2329, #bb1e24);
	background-image:-moz-linear-gradient(#dd2329, #bb1e24);
	background-image:-ms-linear-gradient(#dd2329, #bb1e24);
	background-image:-o-linear-gradient(#dd2329, #bb1e24);
	background-image:linear-gradient(#dd2329, #bb1e24);
	position:relative; }
.nav-bar h1 { font-size:20px; line-height:31px; text-align:center; }
.nav-return, .nav-more { height:30px; line-height:30px; font-size:14px; }
.nav-return { width:52px; height:30px; padding-left:14px;  line-height:30px; background:url(images/nav-return.png) no-repeat left top; position:absolute; left:6px; top:4px; }
.nav-more { padding:0 6px; border:solid 1px #94181d; border-radius:4px; box-shadow:inset 0 1px 0 #fe7882; background:#f0282f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0282f), to(#ae1c22));
	background-image:-webkit-linear-gradient(#f0282f, #ae1c22);
	background-image:-moz-linear-gradient(#f0282f, #ae1c22);
	background-image:-ms-linear-gradient(#f0282f, #ae1c22);
	background-image:-o-linear-gradient(#f0282f, #ae1c22);
	background-image:linear-gradient(#f0282f, #ae1c22);
 position:absolute; right:6px; top:4px; }
/*球-信息*/
.ball-info { height:58px; padding:9px 10px 0; overflow:hidden; background:#fdfbf7; border-top:solid 1px #fff; border-bottom:solid 1px #d4d1c8; }
.ball-info dl { width:100%; display:table; }
.ball-info dt { width:48px; padding-right:7px; display:table-cell; }
.ball-info dd { display:table-cell; vertical-align:top; }
.ball-info h3 { padding:1px 0 2px; font-size:13px; color:#9f9898; }
.ball-info h3 strong { font-size:14px; color:#333; }
.ball-list li { width:21px; height:22px; line-height:21px; color:#fff; float:left; margin-right:3px; text-align:center; }
.ball-red { background:url(images/ball-red.png) no-repeat center top; }
.ball-blue { background:url(images/ball-blue.png) no-repeat center top; }
/*排行榜*/
.rank { padding:10px; border-top:solid 1px #fff; color:#635b5b; }
.rank b { font-weight:normal; color:#94181d; }
.rank table { width:100%; font-size:14px; text-align:center; border:solid 1px #d4d1c8; border-radius:4px; }
.rank th { height:26px; line-height:26px; color:#b3aead; border-right:solid 1px #e3e1db; background:#f8f7f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f7f4), to(#f0efeb));
	background-image:-webkit-linear-gradient(#f8f7f4, #f0efeb);
	background-image:-moz-linear-gradient(#f8f7f4, #f0efeb);
	background-image:-ms-linear-gradient(#f8f7f4, #f0efeb);
	background-image:-o-linear-gradient(#f8f7f4, #f0efeb);
	background-image:linear-gradient(#f8f7f4, #f0efeb);
}
.rank th:first-child { border-radius:4px 0 0 0; }
.rank th:last-child { border-radius:0 4px 0 0; }
.rank td { height:33px; line-height:33px; border-top:solid 1px #e3e1db; border-right:solid 1px #e3e1db;  background:#fff;}
.rank tr:last-child td:first-child { border-radius:0 0 0 4px; }
.rank tr:last-child td:last-child { border-radius:0 0 4px 0; }
.rank td:last-child, .rank th:last-child { border-right:none; }
.rank-list { margin:5px 0 10px; }
.rank-betting-btn { display:block; font-size:17px; color:#fff; text-align:center; line-height:36px; border:solid 1px #b3272b; border-radius:4px;  box-shadow:inset 0 1px 0 #f69ca1, 0 0 3px #bebdbc; background:#f1353c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1353c), to(#cf2d32));
	background-image:-webkit-linear-gradient(#f1353c, #cf2d32);
	background-image:-moz-linear-gradient(#f1353c, #cf2d32);
	background-image:-ms-linear-gradient(#f1353c, #cf2d32);
	background-image:-o-linear-gradient(#f1353c, #cf2d32);
	background-image:linear-gradient(#f1353c, #cf2d32);
}
/*底部*/
footer { height:100px; color:#979090; text-align:center; background:#fdfbf7; border-top:solid 1px #d4d1c8; }
.footer-login { height:32px; line-height:32px; font-size:15px; border-top:solid 1px #fff; border-bottom:solid 1px #d4d1c8; background:#fff4d2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff4d2), to(#f5e8be));
	background-image:-webkit-linear-gradient(#fff4d2, #f5e8be);
	background-image:-moz-linear-gradient(#fff4d2, #f5e8be);
	background-image:-ms-linear-gradient(#fff4d2, #f5e8be);
	background-image:-o-linear-gradient(#fff4d2, #f5e8be);
	background-image:linear-gradient(#fff4d2, #f5e8be);
}
.footer-nav { font-size:13px; padding:10px 0 8px; }
.footer-nav a { margin:0 3px; }
.footer-copyright { font-size:13px; }








